 body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        .container {
            background: #fff;
            padding: 30px;
            border-radius: 0px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            height: 656px;
            max-width: 500px;
            width: 100%;
            position: relative; 
        }
        .form-container {
            position: absolute; 
            top: 13px;
            right: 13px;
            width: 18px; 
            height: auto;
        }
        .tabs {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .tabs a {
            text-decoration: none;
            color: #000;
            padding: 10px;
            border-bottom: 2px solid transparent;
            font-weight: bold;
        }
        .tabs a.active {
            color: green;
            border-bottom: 2px solid green;
        }
        .tabs a[href="#"]:not(.active) {
            color: black; /* Логін чорний колір чому це не працює?! */
            pointer-events: none; /* Вимкнення подій для неактивного логіна тільки воно не працює!!! */
        }
        .tabs a[href="#"]:last-child {
            color: green; /* Реєстер зелений колір */
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-login p {
            margin: 20px 0 10px;
            font-size: 14px;
            color: #888;
        }
        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .btn {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: green;
            color: #fff;
            text-align: center;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        .btn:hover {
            background-color: darkgreen;
        }
        .social-login {
            margin-top: 20px;
            text-align: center;
        }
        .social-login p {
            margin: 20px 0 10px;
            font-size: 14px;
            color: #888;
        }
        .social-login a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
            text-decoration: none;
            color: #000;
        }
        .social-login a img {
            margin-right: 10px;
        }
